{% load static %}
{% include "registration/base.html" %}
<!-- 
     <!DOCTYPE html>
     <html>
     <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>GEEK C0DE</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
     <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
     </head> -->
  <body>
    <section class="section">
      <div class="container">    

	<nav class="navbar" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
	    <a class="navbar-item" href=""><p>GEEK CODE </p>
	      <!-- <span class="icon is-small">
		   <i class="fas fa-file-code"></i>
		   </span>
	      -->
	      <figure class="image is-576x480">
		<img src="{% static 'user/pics/code.png' %}">
	      </figure>

	    </a>
	    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>
	</nav>
      </div>
    </section>

    
    <section class="section">
      <div class="container content">
	<h3>You are logged out</h3>
	<p>To <a href="{% url 'login' %}">login</a> again <p>
	
      </div>
    </section>
  </body>
</html>
