{% include 'registration/base.html' %}


<div class="container">
  {{ qtn.question }}
</div>
<br><hr>

{% for ans in answered %}

<div class="container">
  <div class="content">
    <p>{{ ans.answer|linebreaksbr}}</p>
    <hr>
  </div>
</div>

{% endfor %}



<br><hr>


<div class="container">
  <form method="post" action="{% url 'answer' qtn_id=qtn.id %}">
    {% csrf_token %}
    <div class="field control">
      <label class="label">Answer</label>
      {{ form }}
    </div>
    <input type="submit" value="Submit" class="button is-primary"/>
  </form>
</div>
