{% include 'registration/base.html' %}

<div class="container">
  <form method="post" action="{% url 'create_gist' %}">
    {% csrf_token %}
    
    <label class="label">Choose Language</label>
    <div class="field control select is-primary">
      {{form.language}}
    </div>
    
    <div class="field control">
      <label class="label">Name of gist</label>
      {{ form.gist_name  }}
    </div>
    
    <div class="field control">
      <label class="label">C0DE:- </label>
      {{ form.gist_code }}
    </div>

    <input type="submit" value="Submit" class="button is-primary"/>
  </form>
</div>

