{% include 'registration/base.html' %}

{% for gist_post in gists_posted %}

<div class="container card card-content">
  <div class="content">
    <a href = "{% url 'gist_comments' %}">
      <p class="title is-5">{{ gist_post.id }}. {{ gist_post.gist_name }}</p>
    </a>
    <br>
    <span><small> by </small>{{ user.username }} on {{ gist_post.date_added }}</span>
    <span class="tag is-light">{{ gist_post.language }}</span>
    <hr>
     <div class="content is-medium">{{ gist_post.gist_code }}
    </div>
  </div>
</div>

{% endfor %}

</body>
</html>
