{% include 'registration/base.html' %}

<div class ="container">

  {% if user.is_authenticated %}

  <nav class="navbar is-transparent">
    <div id="navbarExampleTransparentExample" class="navbar-menu "navbar-start"">
      
      <a class="navbar-item" href="{% url 'question' %}">
	Ask Question
      </a>
      
      <a class="navbar-item" href="{% url 'questions' %}">
	Questions
      </a>
      
    </div>
  </nav>
</div>

{% endif %}


<section class="section">
  <div class="container content">
    <h1>About</h1>
    <p>This site is to Ask and answer any questions related to programing languages.</p>
    <p>share gists and useful tips.</p>
    <h2>Usage</h2>
    <p>Need to login to access posts</p>
  </div>
</section>
  </body>
</html>
